


<div class="main">
  <app-c1></app-c1>
  <app-c2></app-c2>

 <!-- <div class="box">
    <h1>DATA</h1>
    <app-loader></app-loader>
    Name:<input type="text" name="name">
    <app-button></app-button>
  </div>


  <div class="box">
    <h1>DATA</h1>
    <app-loader></app-loader>
    Name:<input type="text" name="name">
    <button class="button" *ngIf="isLoading" disabled="isLoading" >loading...</button>
    <button class="button" *ngIf="!isLoading" (click)="onClick($event)">submit</button>
  </div>


  <div class="box">
    <h1>DATA</h1>
    <app-loader></app-loader>
    Name:<input type="text" name="name">
    <button class="button" *ngIf="isLoading" disabled="isLoading" >loading...</button>
    <button class="button" *ngIf="!isLoading" (click)="onClick($event)">submit</button>
  </div>


  <div class="box">
    <h1>DATA</h1>
    <app-loader></app-loader>
    Name:<input type="text" name="name">
    <button class="button" *ngIf="isLoading" disabled="isLoading" >loading...</button>
    <button class="button" *ngIf="!isLoading" (click)="onClick($event)">submit</button>
  </div>  -->
  
  
</div> 

